
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-image: url('../images/360_F_116619399_YA611bKNOW35ffK0OiyuaOcjAgXgKBui.jpg');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    height: 100vh; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    font-weight: 600;
}

.textbox {
    margin-bottom: 20px;
}

.textbox input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.textbox input:focus {
    border-color: #b36b00;  
}

button.btn {
    width: 100%;
    padding: 12px;
    background-color: #b36b00;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.btn:hover {
    background-color: #9a5800;
}

p {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

p a {
    color: #b36b00;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
